DATABASE_URL="mysql://root:password@localhost:3306/billiard_pos?connection_limit=10&pool_timeout=20"

JWT_SECRET="change-this-in-production-32chars+"
JWT_REFRESH_SECRET="change-this-refresh-secret-32chars+"

# UBAH INI: access token 8 jam, refresh token 30 hari
JWT_ACCESS_EXPIRES_IN="8h"
JWT_REFRESH_EXPIRES_IN="30d"

PORT=3001
CORS_ORIGIN="http://localhost:3000"
IOT_HMAC_SECRET="change-this-iot-secret"
IOT_NONCE_WINDOW_SECONDS=300
IOT_GATEWAY_DEVICE_ID=""
NODE_ENV="production"
QZ_CERTIFICATE=
QZ_PRIVATE_KEY=
QZ_SIGN_API_KEY=
